---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.player-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        padding: 10px;
        width: 20%;
        display: block;
        float: left;
        margin: 0 1% 1em;
        text-align: center;
        height: 9em;
        vertical-align: middle;
        position: relative;
    }

    .player-name{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        color: transparent;
        padding-top: 50%;

        transition-duration: 0.3s;
        transition-property: background-color, color;
        transition-timing-function: ease-out;
        transform: translateZ(0);

        &:hover{
            background-color: $grey-color-light;
            text-decoration: none;
            color: $text-color;
        }
    }
}
